<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- style -->
    {{! <link rel="stylesheet" href="/css/main.css" /> }}
    <link rel="stylesheet" href="/css/styles.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- handlebar -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
  </head>
  <body style="height: 5000px">
    <!-- header -->
    <header>
      <div class="header__container d-flex-between">
        <!-- icon bar -->
        <div class="header__icon cursor-pointer">
          <label for="checkbox">
            <svg class="header__icon-bar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="#8c8c8c" d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
            </svg>
          </label>
        </div>
        <!-- logo -->
        <div class="header__logo cursor-pointer">
          <img class="logo" src="/images/logo.png" alt="logo" />
        </div>
        <!-- nav-pc -->
        <div class="header__menu">
          <nav class="menu">
            <ul class="menu__list d-flex-center flex-wrap row-gap">
              <li class="menu__item">
                <a href="#!" class="menu__link">Giày Nữ</a>
                <i class="menu__icon fas"></i>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Cao Gót</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Búp Bê</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Boot</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dép Nữ</a></li>
                </ul>
              </li>
              <li class="menu__item">
                <a href="#!" class="menu__link">Giày Nam</a>
                <i class="menu__icon fas"></i>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Thể Thao</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Tây</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">SanDal</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dép Nam</a></li>
                </ul>
              </li>
              <li class="menu__item"><a href="#!" class="menu__link">Giày Cặp</a></li>
              <li class="menu__item"><a href="#!" class="menu__link">Giày Trẻ Em </a></li>
              <li class="menu__item">
                <a href="#!" class="menu__link">Phụ Kiện</a>
                <i class="menu__icon fas"></i>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Vớ</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Chai Vệ Sinh Giày</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Đế Lót</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dây Giày</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!-- input checkbox -->
        <input class="checkbox" type="checkbox" name="checkbox" id="checkbox" />
        <!-- overlay -->
        <label class="overlay" for="checkbox"></label>
        <!-- nav-mobile -->
        <div class="header__nav-mobile">
          <div class="header__list-menu">
            <span class="header__title">Menu</span>
            <div class="header__label-close">
              <label for="checkbox">
                <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
              </label>
            </div>
          </div>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item" data-checkbox="checkbox-nav-mobile" data-url="">
                <input class="checkbox-nav-mobile" type="checkbox" name="checkbox-nav-mobile" id="checkbox-nav-mobile" />
                <label for="checkbox-nav-mobile">
                  <span for="checkbox-nav-mobile" class="menu__link">Giày Nữ</span>
                  <i class="menu__icon fas"></i>
                </label>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Cao Gót</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Búp Bê</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Boot</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dép Nữ</a></li>
                </ul>
              </li>
              <li class="menu__item" data-checkbox="checkbox-nav-mobile1">
                <input class="checkbox-nav-mobile" type="checkbox" name="checkbox-nav-mobile" id="checkbox-nav-mobile1" />
                <label for="checkbox-nav-mobile1">
                  <span for="checkbox-nav-mobile" class="menu__link">Giày Nam</span>
                  <i class="menu__icon fas"></i>
                </label>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Thể Thao</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Giày Tây</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">SanDal</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dép Nam</a></li>
                </ul>
              </li>
              <li class="menu__item"><span class="menu__link">Giày Cặp</span></li>
              <li class="menu__item"><span class="menu__link">Giày Trẻ Em</span></li>
              <li class="menu__item" data-checkbox="checkbox-nav-mobile2">
                <input class="checkbox-nav-mobile" type="checkbox" name="checkbox-nav-mobile" id="checkbox-nav-mobile2" />
                <label for="checkbox-nav-mobile2">
                  <span for="checkbox-nav-mobile" class="menu__link">Phụ Kiện</span>
                  <i class="menu__icon fas"></i>
                </label>
                <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Vớ</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Chai Vệ Sinh Giày</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Đế Lót</a></li>
                  <li class="menu__sub-item"><a href="#!" class="menu__sub-link">Dây Giày</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!-- search -->
        <div class="header__search">
          <form action="#!" class="search">
            <input class="search__input" type="search" name="search" id="search1" />
            <i class="search__icon fas cursor-pointer"></i>
          </form>
        </div>
        <!-- input checkbox -->
        <input class="checkbox-search" type="checkbox" name="checkbox-search" id="checkbox-search" />
        <!-- overlay -->
        <label class="overlay1" for="checkbox-search"></label>
        <div class="header__action-mobile">
          <label for="checkbox-search">
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
          </label>
          <div class="header__search">
            <form action="#!" class="search">
              <input class="search__input" type="search" name="search" id="search2" />
              <i class="search__icon fas cursor-pointer"></i>
            </form>
          </div>
        </div>
        <!-- actions -->
        <div class="header__actions">
          <div class="actions d-flex-center">
            <span href="" class="actions__link">
              <label for="checkbox-search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </span>
            <a href="" class="actions__link">
              <i class="actions__icon-user fas"></i>
            </a>
            <a href="" class="actions__link">
              <i class="actions__icon-cart fas"></i>
            </a>
            <a href="" class="actions__link">
              <i class="actions__icon-fast fas"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <!-- slider -->
    <div class="slider cursor-pointer">
      <div class="slider__container">
        <div class="slider__wrap d-flex cursor-grabbing">
          <img src="/images/slider1-pc.jpg" alt="Slide 1" class="slider__img" data-large="/images/slider1-pc.jpg" data-small="/images/slider1-mb.jpg" />
          <img src="/images/slider2-pc.jpg" alt="Slide 2" class="slider__img" data-large="/images/slider2-pc.jpg" data-small="/images/slider2-mb.jpg" />
          <img src="/images/slider3-pc.jpg" alt="Slide 3" class="slider__img" data-large="/images/slider3-pc.jpg" data-small="/images/slider3-mb.jpg" />
        </div>
        <div class="slider__control">
          <div class="slider__control-icon">
            <svg class="slider__control-prev prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path fill="#fff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
            </svg>
          </div>
          <div class="slider__control-icon">
            <svg class="slider__control-next next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path fill="#fff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- countdown -->
    <div class="countdown d-flex-center flex-wrap">
      <div class="countdown__content">
        <strong>F<svg class="countdown__content-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path fill="#f2611c" d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z" /></svg>ash Sale</strong>
      </div>
      <div class="countdown__item">
        <p id="countdown__item-time">
          <span class="countdown-unit">00</span>
          <span class="countdown-unit">00</span>
          <span class="countdown-unit">00</span>
          <span class="countdown-unit">00</span>
        </p>
      </div>
    </div>
    <main>
      <!-- Template -->
      <script id="product-template" type="text/x-handlebars-template">
        {{#each products}}
          <div class="product"> <div class="product__img"> <img src="{{imgSrc}}" alt="{{altText}}"> </div> <div class="product__label"> <span>Giảm</span> <span>${{sale}}</span> </div> <div class="product__price"> <p>Giá: ${{price}}</p> </div> <div class="product__progress"> Đã bán:
          {{sold}}
          </div> <div class="variantcolor">
          {{#each colors}}
            <div class="color-block" style="background-color:
            {{this}};"></div>
          {{/each}}
          </div> </div>
        {{/each}}
      </script>

      <!-- Container -->
      <div class="main__container">
        <div class="products d-flex-center flex-wrap" id="product-list"></div>
      </div>
    </main>
    <!-- <script src="javascript/nav-mobile.js"></script> -->
    {{! <script src="/js/slider.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/product.js"></script> }}
    <!-- Thêm các bundle JS vào trang HTML -->
    {{!-- <script src="/js/app.bundle.js"></script>
    <script src="/js/another.bundle.js"></script>
    <script src="/js/third.bundle.js"></script>
    <script src="/js/fourth.bundle.js"></script> --}}
    <script src="/js/bundle.js"></script>

  </body>
</html>